In [4]:
import sklearn

print(sklearn.__version__)

0.23.2

In [5]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [6]:
import pandas as pd

iris = load_iris() # 붓꽃 데이터 세트 로딩

iris_data = iris.data # iris.data는 Iris 데이터 세트에서 피처만으로된 데이터를 numpy로 가지고 있습니다
iris_label = iris.target # iris.targe은 붗꽃 데이터 세트에서 레이블 데이터를 nummpy로 가지고 있습니다
print('iris target 값 :\n', iris_label)
print('iris target 명 : \n', iris.target_names)

iris_df = pd.DataFrame(data=iris_data, columns = iris.feature_names)
iris_df['label'] = iris.target
iris_df

iris target 값 :
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
iris target 명 :
 ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [5]:
x_train, x_test, y_train, y_test = train_test_split(iris_data, iris_label, test_size = 0.2, random_state = 11)

In [6]:
# DecisionTreeClassifier 객체 생성
dt_clf = DecisionTreeClassifier(random_state = 11)
# 학습 수행
dt_clf.fit(x_train,y_train)

DecisionTreeClassifier(random_state=11)

In [7]:
pred = dt_clf.predict(x_test)

In [8]:
from sklearn.metrics import accuracy_score
print('예측 정확도 : {0: .4f}'.format(accuracy_score(y_test, pred)))

예측 정확도 :  0.9333

In [8]:
print(type(iris))

<class 'sklearn.utils.Bunch'>

In [9]:
from sklearn.datasets import load_iris

iris_data = load_iris()
print(type(iris_data))

<class 'sklearn.utils.Bunch'>

In [10]:
keys = iris_data.keys()
print('붓꽃 데이터 세트의 키들 : ',keys)

붓꽃 데이터 세트의 키들 :  dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [12]:
print('타겟 이름\n', iris_data.target_names)

타겟 이름
 ['setosa' 'versicolor' 'virginica']